.logo {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.logoSection .observed {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoAtas img {
    margin-top: 150px !important;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

@font-face {
    font-family: 'El-Messiri';
    src: url('../assets/font/el-messiri.regular.ttf') format('truetype');
}

.text {
    max-width: 800px;
    margin: auto;
}

.text h1 {
    justify-content: center;
    text-align: center;
    color: var(--primary);
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 10px;
}

.text p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--primary);
    font-weight: 400;
    font-size: large;
    margin-top: 5px;
    padding: 20px;
    margin: auto;
}

.maknaLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerLogo h1 {
    text-align: center;
    color: #884a39;
    font-weight: bold;
    font-size: 45px;
}

.logoMakna {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}

.logoMakna img {
    max-width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.kontenLogo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 150px;
}

.atasBox {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.atasBox p {
    color: #884a39;
    font-weight: 500;
    font-size: 40px;
    margin-top: 5px;
    max-width: 800px;
    display: flex;
}

.atasBox img {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}

.maknaBox {
    background-color: #884a39;
    margin-top: 10px;
    width: 500px;
    height: 200px;
    border-radius: 15px;
}

.maknaBox p {
    color: #F9E0BB;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    padding: 60px;
}

@media screen and (max-width: 768px) {
    .text p {
        padding-left: 50px;
        padding-right: 50px;
    }

    .logoMakna {
        flex-direction: column;
        align-items: center;
    }

    .kontenLogo {
        align-items: center;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    .logoSTUKM {
        margin-bottom: 20px;
        width: 300px;
    }

    .maknaBox {
        align-items: center;
        justify-content: center;
        display: flex;
        max-width: 350px;
        margin-right: 150px;
    }

    .maknaBox p {
        font-size: 16px;
        padding: 20px;
    }

    .atasBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        width: 100%;
        justify-content: center;
        margin-right: 140px;
    }

    .atasBox p {
        font-size: 28px;
    }
}

.gorden {
    position: absolute;
    top: 0;
    height: 100vh;
    width: auto;
}

.gordenKiri {
    left: 0;
}

.gordenKanan {
    right: 0;
}