.navbar{
    background-image: linear-gradient(#884A39, #b56650);
    /* background-color: #884A39; */
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
}

.navbar-pembungkus{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    /* margin: 24px 240px; */
}

.box-logo{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-left: 25px;
   
}

.logo-stukm {
    display: flex;
    align-items: center;
    width: 65px;
    height: 65px;
    margin-top: auto;
    margin-bottom: auto;
}

.text-stukm{
    color: #F9E0BB;
    font-family: "El Messiri" !important;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 25px;
    margin-top: auto;
    margin-bottom: auto;
}


.box-option-navbar{
    position: relative;
    display: flex;
    font-size: 32px;
    gap: 30px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
}

.navbar-vote{
    font-family: "El Messiri" !important;
    color: #F9E0BB;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    cursor:pointer;
}

.navbar-ukm {
    font-family: "El Messiri" !important;
    color: #F9E0BB;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar-sponsor{
    font-family: "El Messiri" !important;
    color: #F9E0BB;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar-medpar{
    font-family: "El Messiri" !important;
    color: #F9E0BB;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media(max-width:950px){
    .text-stukm{
        font-size: 24px;
    }

    .box-option-navbar{
        font-size: 24px;
    }
}

@media(max-width:750px){
    .text-stukm{
        font-size: 20px;
    }

    .box-option-navbar{
        font-size: 20px;
    }
}

@media(max-width:680px){
    .logo-stukm{
        width: 45px;
        height: 45px;
    }

    .text-stukm{
        font-size: 16px;
    }

    .box-option-navbar{
        font-size: 16px;
    }
}

@media(max-width:560px){
    .box-logo{
        gap: 15px;
    }

    .logo-stukm{
        width: 40px;
        height: 40px;
    }

    .text-stukm{
        font-size: 16px;
    }

    .box-option-navbar{
        font-size: 16px;
        gap: 15px;
    }
}

@media(max-width:440px){
    .box-logo{
        gap: 10px;
    }

    .logo-stukm{
        width: 40px;
        height: 40px;
    }

    .text-stukm{
        font-size: 14px;
    }

    .box-option-navbar{
        font-size: 14px;
        gap: 10px;
    }
}

@media(max-width:376px){
    .box-logo{
        gap: 10px;
    }

    .logo-stukm{
        width: 40px;
        height: 40px;
    }

    .text-stukm{
        font-size: 12px;
    }

    .box-option-navbar{
        font-size: 12px;
        gap: 8px;
    }
}



