.flipContainer {
  position: relative;
  width: 65vw;
  /* height: 65vh;s */
  perspective: 2000px;
  margin: auto;
  background: transparent;
  color: var(--secondary);
}

.flip {
  position: relative;
  width: inherit;
  height: inherit;
  background: var(--primary);
  /* border: 2px solid var(--secondary);
  border-radius: 12pt; */
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.flipContainer .now {
  transform: rotateY(180deg);
}

.formFront,
.formBack {
  border-radius: 12pt;
  background: var(--primary);
  border: 2px solid var(--secondary);
  position: absolute;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  overflow: hidden;
  margin: auto;
}

.formBack {
  transform: rotateY(180deg);
}

.votingHeading {
  color: var(--secondary) !important;
  text-align: center;
  font-family: "El Messiri" !important;
}

.votingLabel {
  text-align: start;
  width: 20vw !important;
  /* font-size: 3.5vh !important; */
}

.votingInput {
  border: 0px solid transparent !important;
  border-radius: 0px !important;
  border-bottom: 1px solid var(--secondary) !important;
  width: 35vw !important;
  height: 100% !important;
  /* font-size: 3.5vh !important; */
}

.votingInput::placeholder {
  color: var(--secondary);
  /* font-size: 3.5vh !important; */
}

.votingButton {
  position: absolute !important;
  bottom: 5% !important; 
  background: var(--secondary) !important;
  color: var(--primary) !important;
  height: 6vh !important;
  width: 10vw !important;
  font-size: 2rem !important;
}

@media only screen and (max-width: 1080px) {
  .votingLabel {
    /* font-size: 2.2vh !important; */
    width: 25vw !important;
  }

  .votingInput {
    /* font-size: 2.2vh !important; */
    width: 45vw !important;
  }

  /* .votingInput::placeholder {
    font-size: 2vh !important;
  } */

  .votingButton {
    height: 4vh !important;
    width: 15vw !important;
    font-size: 2.2vh !important;
  }
}

@media only screen and (max-width: 600px) {
  .votingLabel {
    /* font-size: 0.9rem !important; */
    width: 25vw !important;
  }

  .votingInput {
    /* font-size: 0.9rem !important; */
    width: 40vw !important;
  }

  /* .votingInput::placeholder {
    font-size: 1.5vh !important;
  } */

  .votingButton {
    height: 2rem !important;
    width: 25vw !important;
    font-size: 0.9rem !important;
  }
}

.ukmHeading {
  position: absolute;
  top: 11.5%;
  font-family: "El Messiri" !important;
  /* font-size: 5vh !important; */
}

.ukmWrapper {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.votedContainer {
  background: var(--primary);
  border: 2px solid var(--secondary);
  border-radius: 12pt;
  /* height: 65vh;
  width: 65vw; */
  color: var(--secondary);
}

.trompet {
  position: absolute;
  bottom: 5vw;
  z-index: 3;
  height: 60vh;
  width: auto;
}

.trompetKiri {
  left: 0;
  transform: scaleX(-1) rotate(25deg);
  margin-left: -13vw;
}

.trompetKanan {
  right: 0;
  margin-right: -13vw;
  transform: rotate(25deg);
}
