@font-face {
    font-family: 'El Messiri';
    src: url('../assets/font/el-messiri.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
}

.title{
    font-family: 'El Messiri';
    font-size: 64px;
    color: #884a39;
    margin: auto;
    margin-top: 20px;
}

.sponsor{
    min-height: 80vh;
    /* margin: 20px 0 25px 0; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    @media (max-width: 765px) {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
    }
}

.sponsor > * {
    margin:auto;  
}